.banner {
	display: flex;
	padding: 360px 0px;
	position: relative;
	align-items: center;
	justify-content: center;
	background: url("../images/bg/14.png") center center/cover no-repeat;

	@include max(1200px) {
		padding: 260px 0px;
	}

	@include max(767px) {
		padding-top: 220px;
		padding-bottom: 480px;
		background: url("../images/bg/15.png") center center/cover no-repeat;
	}

	&-content {
		max-width: 440px;
		@include max(767px) {
			max-width: 100%;
			text-align: center;
		}

		h2 {
			font-size: 62px;
			line-height: 70.99px;
			white-space: pre-line;
			text-transform: capitalize;
			font-family: "Linotte-bold";

			@include max(1200px) {
				font-size: 58.01px;
				line-height: 66.42px;
			}

			@include max(767px) {
				font-size: 35px;
				line-height: 35px;
				margin-bottom: 4px;
			}
		}

		p {
			font-size: 16px;
			line-height: 25.6px;
			margin-bottom: 32px;
			color: rgba(0, 0, 0, 0.7);

			@include max(767px) {
				margin-bottom: 20px;
			}
		}
	}
}

.banner-sm {
	z-index: 1;
	display: flex;
	overflow: hidden;
	padding: 145px 0px;
	position: relative;
	text-align: center;
	margin-top: 110px;

	&::after {
		content: "";
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.65);
	}

	&-content {
		h2 {
			color: #fff;
			font-size: 40px;
			margin-bottom: 10px;
			line-height: 46.88px;
			font-family: "Linotte-sbold";
			text-transform: capitalize;

			@include max(767px) {
				font-size: 35px;
				line-height: 41.02px;
			}
		}

		p {
			color: #fff;
			font-size: 18px;
			line-height: 21.09px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: capitalize;
			font-family: "Linotte-light";

			img {
				margin-right: 4px;
			}

			span {
				margin-left: 4px;
				color: $primary;
				display: inline-block;
			}
		}
	}
}
