.footer {
	position: relative;

	&-top {
		padding-top: 20px;
		padding-bottom: 60px;
		background-color: #fff;
	}

	&-logo {
		margin-bottom: 12px;
	}

	&-info {
		margin-bottom: 24px;

		@include max(767px) {
			text-align: center;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			color: rgba(0, 0, 0, 0.6);
		}

		&-bottom {
			@include max(767px) {
				margin-bottom: 48px;
				text-align: center;
			}

			h6 {
				@extend %fs-1;
				color: $secondary;
				margin-bottom: 15px;
			}
			ul {
				display: flex;
				align-items: center;
				@include max(767px) {
					justify-content: center;
				}
				li {
					margin-right: 16px;
				}
			}
		}
	}

	&-social {
		margin-bottom: 45px;
		@include max(767px) {
			text-align: center;
		}
		h2 {
			@extend %fs-1;
			color: $secondary;
			margin-bottom: 15px;
			text-transform: capitalize;
		}
		ul {
			display: flex;
			align-items: center;

			@include max(767px) {
				justify-content: center;
			}

			li {
				margin-right: 16px;
			}
		}
	}

	&-menu {
		margin-top: 60px;
		@include max(767px) {
			margin: 0px;
			margin-bottom: 38px;
		}

		h2 {
			@extend %fs-3;
			margin-bottom: 20px;
			text-transform: capitalize;
		}
		ul {
			li {
				margin-bottom: 12px;

				@include max(767px) {
					margin-bottom: 10px;
				}

				a,
				p {
					@extend %fs-1;
					color: rgba(0, 0, 0, 0.7);
					transition: all 0.3s linear;

					&:hover {
						color: #000;
					}
				}
			}
		}
	}

	&-bottom {
		padding: 20px 0px;
		background-color: $primary;

		@include max(767px) {
			padding: 12px 0px;
		}

		&-content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include max(767px) {
				flex-direction: column;
			}

			p {
				color: #fff;
				@extend %fs-1;

				@include max(767px) {
					font-size: 14px;
					line-height: 16.41px;
				}
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				li {
					a {
						color: #fff;
						@extend %fs-1;
						display: inline-block;
						@include max(767px) {
							font-size: 14px;
							line-height: 16.41px;
						}
					}
				}
			}
		}
	}
}
